{{#partial "contenido"}}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {{#each eventos}}
        <div class="container">
        <div class="row row-striped">
        <div class="col-2 text-right">
        <h1 class="display-4"><span class="badge badge-secondary">{{numeroDia}}</span></h1>
            <h2>{{mes}}</h2>
        </div>
            <a href="/eventos/{{id}}">
                <div class="col-10" >
                    <h3 class="text-uppercase"><strong>{{nombre}}</strong></h3>
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{diaDeLaSemana}}</li>
                        <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{cuandoEmpieza}}</li>
                        <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{donde}}</li>
                    </ul>
                </div>
            </a>
        </div>
        </div>
    {{else}}
        <div class="container" style="height: 250px;">
            <div class="alert alert-dark col-md-8 col-xs-12">
                En este momento no ten&eacute;s eventos, pod&eacute;s crear uno desde <a href="/eventos/creacion">este enlace</a>
            </div>
        </div>
    {{/each}}
    <div class="footer-calendario">
    </div>


{{/partial}}

{{>layout.hbs}}