{{#partial "contenido"}}

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {{#each eventos}}
        <div class="container">
        <div class="row row-striped">
        <div class="col-2 text-right">
        <h1 class="display-4"><span class="badge badge-secondary">{{numeroDia}}</span></h1>
            <h2>{{mes}}</h2>
        </div>
            <div class="col-10">
            <h3 class="text-uppercase"><strong>{{nombre}}</strong></h3>
                <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>{{diaDeLaSemana}}</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>{{cuandoEmpieza}}</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{donde}}</li>
                </ul>
            </div>
        </div>
        </div>
    {{else}}
        PARECE QUE NO TENES EVENTOS, PODES CREAR UNO NUEVO ACA
    {{/each}}



{{/partial}}

{{>layout.hbs}}