{{#partial "contenido"}}
    <div class="mb-5 pb-5">
        <div class="form-inline pt-5 pb-5 ml-5">
            <div class="text-center mr-3 ml-3">
                <span class="completed step">1</span>
                <span class="text-center" style="display:block">Tipo</span>
            </div>
            <div class="completed connecting-line"></div>
            <div class="text-center mr-3 ml-3">
                <span class="active step">2</span>
                <span class="text-center" style="display:block">Características</span>
            </div>
            <div class="connecting-line"></div>
            <div class="text-center mr-3 ml-3">
                <span class="step">3</span>
                <span class="text-center" style="display:block">Guardar</span>
            </div>
        </div>

        <form class="col-md-8 ml-5" action="/guardarropas/{{guardarropaId}}/prendas?paso=2" method="post">
            <div class="form-group">
                <h2 class="titulo-form">
                    Elegí el material
                </h2>
                <select class="form-control" id="material" name="material" required="required">
                    {{#if materialSeleccionado}}
                        <option value="{{materialSeleccionado}}">{{materialSeleccionado.nombre}}</option>
                    {{else}}
                        <option value="" style="display: none;" selected>Elegir...</option>
                    {{/if}}
                    {{#each materiales}}
                        <option value="{{this}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <h2 class="titulo-form">
                    Elegí el color principal
                </h2>
                <select class="form-control" id="colorPrincipal" name="color_principal" required="required">
                    {{#if colorPrincipalSeleccionado}}
                        <option value="{{colorPrincipalSeleccionado}}">{{colorPrincipalSeleccionado.nombre}}</option>
                    {{else}}
                        <option value="" style="display: none;" selected>Elegir...</option>
                    {{/if}}
                    {{#each coloresPrincipales}}
                        <option value="{{this}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <h2 class="titulo-form">
                    Elegí el color secundario (opcional)
                </h2>
                <select class="form-control" id="colorSecundario" name="color_secundario">
                    {{#if colorSecundarioSeleccionado}}
                        <option value="{{colorSecundarioSeleccionado}}">{{colorSecundarioSeleccionado.nombre}}</option>
                    {{else}}
                        <option value="" style="display: none;" selected>Elegir...</option>
                    {{/if}}
                    {{#each coloresSecundarios}}
                        <option value="{{this}}">{{nombre}}</option>
                    {{/each}}
                </select>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Siguiente</button>
            <a class="btn btn-secondary" href="/guardarropas/{{guardarropaId}}/prendas/nueva?paso=1">Atrás</a>
        </form>
    </div>

{{/partial}}

{{>layout.hbs}}